@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<form name="form1" method="post" enctype="multipart/form-data" action="~/Upload/">
   
    <div>
        <label for="image1">Image File</label>
        <input name=" wine_img" type="file" id=" wine_img" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
</body>
</html>
